@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@font-face {
  font-family: 'Raleway';
  src: url('../fonts/Raleway.ttf');
}

@font-face {
  font-family: 'OhnoBlazeface';
  src: url('../fonts/OhnoBlazeface-18Point.ttf');
}

body {
  color: rgb(var(--foreground-rgb));
  overflow: overlay;
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

::-webkit-scrollbar {
  background: transparent !important;
}

::-webkit-scrollbar-thumb {
  height: auto;
  background-color: rgb(95, 95, 95);
  border-radius: 5px;
}
